@use "mixin" as *

@media screen and (width <= 480px)
    html
        font-size: 14px
    body
        background-color: #f3eee3 // 保留背景顏色
        width: 100%
        min-height: 100vh
    .container
        padding: 4rem 0
    .logo-pic
        width: 50%
    .navbar img
        width: 60%
    #Hero
        height: 70vh
        .container
            width: 90%
        .title
            gap: 8px
            h1
                line-height: 3.5rem
    .download
        a
            margin: .75rem

    #BGI
        height: 20rem
        background-color: #f3eee3
        background-image: url("../images/BGI.jpg")
        background-repeat: no-repeat
        background-size: cover
        background-position: center center
        width: 100%

    #Gallery
        .container
            padding-left: .5rem
            padding-right: .5rem
        .grid-container
            grid-template-rows: auto
            grid-template-columns: repeat(1, minmax(0, 1fr))
            row-gap: 1rem
            .item2, .item4, .item5, .item6, .item7, .item9, .item10
                grid-area: unset

    #Service .title
        margin-bottom: 3rem

    #Service .steps ol
        flex-wrap: wrap

        width: 80%

    #Service .steps .step-item
        width: 80%
        margin: auto
        gap: 0
        img
            width: 30%

    #CallToAction
        height: 50vh
        .title
            padding-bottom: 70px
            width: 100%
            gap: 0

    footer
        .logo-pic
            width: 50%
